<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>War X</title>

	<link rel="stylesheet" href="style.css">
</head>
<body>
	<nav>
		<button><a href="/">ALink one</a></button>
		<button>Link one</button>
	</nav>
	<br>
	<h1>War X</h1>
</body>
</html>